body,
dl,
dd,
ul,
ol,
input,
select,
textarea,
button,
optgroup,
option,
p {
  margin: 0;
  padding: 0;
}

*,:after,:before {
    box-sizing: border-box;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.taro_router {
  transform: translate(0);
}

.nut-icon {
  display: inline-block;
}

.taro-textarea {
  background-color: transparent;
  resize: none;
  height: 100%;
}

taro-textarea-core {
  width: auto;
}

input {
  text-align: inherit;
}

taro-button-core + taro-button-core {
  margin-top: unset;
}

/* 兼容最小高度 调试状态下 为了避免tabbar高度带来的空白 896px - 50px  */
/* div[data-zone-type='page'], taro-view-core[data-zone-classnames='page'] {
  min-height: 846px;
} */
.taro_page{
  overflow: auto !important;
}